

body {
    font-family: 'Montserrat', sans-serif !important;
    overflow-x: hidden;
    position: relative;
    min-width: 480px;
}

input,
button,
.btn,
h1,
h2,
h3,
h4,
label,
body .neucha,
option,
select,
div {
    font-family: 'Montserrat', sans-serif !important;
}
.btn {
    border-radius: 0;
}

input[type='number'] {
    -moz-appearance:textfield;
    background: #ffffff;
    color: #000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.change_bead_color {
    padding: 0;
}
/*

.bg-light-success {
    background-color: #1d8120;
    color: white;
}
.bg-light-danger {
    background-color: #9b2728;
    color: white;
}
.bg-light-info {
    background-color: #03819c;
    color: white;
}
.bg-light-secondary {
    background-color: #555;
    color: white;
}
*/

.color-white {
    color: white!important;
}


.segoe {
    font-family: "Segoe UI", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif !important;
    font-weight: 400 !important;
}

.neucha {
    font-family: "Neucha", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
    font-weight: 200 !important;
}

.roboto {
    font-family: "Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
    font-weight: 200 !important;
}

.jokerman {
    font-family: "Jokerman", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
    font-weight: 200 !important;
}

.showcard {
    font-family: "Showcard Gothic", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
    font-weight: 200 !important;
}

.playbill {
    font-family: "Playbill", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
    font-weight: 200 !important;
}

.dfpop1 {
    font-family: "DFPOP1-W9", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
    font-weight: 200 !important;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.no-tab {
    tab-index: -1 !important;
}

.padding-top-10vh {
    padding-top: 10vh;
}


.padding-left-right-4 {
    padding-left: 2vw !important;
    padding-right: 2vw !important;
}

.padding-left-right-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.navbar-vh-height {
    height: 10vh !important;
    margin: 0;
}

.height-full-screen {
    height: 77vh;
}

.height-half-screen {
    height: 41vh;
}

.height-half-screen-2 {
    height: 32.9vh;
}

.screen-show {
    width: 100%;
    border: 0;
}

.screen-comment {
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.margin-top-bottom-0 {
    margin: 0 !important;
    padding: 0 !important;
}

.padding-top-bottom-8px {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.screen-show {
    cursor: pointer;
}

.screen-show:hover {
    background-color: #f8f4ff;
}

.input-warning {
    border: 2px solid red !important;
}

.comment-error {
    background-color: #ffcccc;
}

.comment-success {
    background-color: #aeebae;
}

.cursor-pointer {
    cursor: pointer;
}



.screen_title_points {

    margin: 0;
}

.screen_title {
    cursor: pointer;
}

.screen_title:hover {
    background-color: #f8f4ff;

}

.screen-row {
    background-color: white;
}
.bead {
    border: none;
    box-shadow: none;
}
.no-border {
    border: none;
}
.h-sm {
    height: 35px;
}
.h-lg {
    height: 50px;
}


.bead-active-classic {
    background: url(../static/custom/pictures/bead-active.png) center top / 100% 100% no-repeat;
}

.bead-active-blue {
    background: url(../static/img_game/abakus/bead-active-blue.png) center top / 100% 100% no-repeat;
}

.bead-active-orange {
    background: url(../static/img_game/abakus/bead-active-orange.png) center top / 100% 100% no-repeat;
}
.bead-active-nefrit {
    background: url(../static/img_game/abakus/bead-active-nefrit.png) center top / 100% 100% no-repeat;
}

.bead-active-brown {
    background: url(../static/img_game/abakus/bead-active-brown.png) center top / 100% 100% no-repeat;
}


.bead-inactive-classic {
    background: url(../static/custom/pictures/bead-inactive.png) center top / 100% 100% no-repeat;
}


.bead-empty-classic {
    background: url(../static/custom/pictures/bead-empty.png) center top / contain no-repeat;
}


.bead-line-classic {
    padding: 0;
    background-color: black;
    box-shadow: none !important;
}


.bead-spoke {
    background: url(../static/img_game/abakus/bead-empty.png) center top / contain no-repeat;
}

.number-display {
    box-shadow: none !important;
    color: black;
    padding-bottom: 0;
    padding-top: 0;
}

.input_decrease .input_increase{
    color: #41becd !important;
}


.custom-input {
    text-align: center;
    border: 1px solid rgb(128, 128, 128) !important;
    border-radius: 3px !important;
    width: 100% !important;
}

.col-md-offset-05 {
    left: 4vw;
}
.bg_0 {
    background:url(../img/bg.png) center center no-repeat;
    background-size: cover;
    padding-top: 5%;
}

/*-----------------------------------------btn--------------------------------------------*/

.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}
.btn-group-justified .btn,
.btn-group-justified .btn-group {
    float: none;
    display: table-cell;
    width: 1%;
}
.btn-group-justified .btn .btn,
.btn-group-justified .btn-group .btn {
    width: 100%;
}
.btn-group-justified .btn .dropdown-menu,
.btn-group-justified .btn-group .dropdown-menu {
    left: auto;
}


.bg_white {
    background-color: white!important;
}

.btn-warning, .btn-outline-warning {
    color: black;
}

.btn-uppercase-none {
    text-transform: none !important;
}

.btn-border-shadow-none {
    border: none;
    box-shadow: none;
}

.btn-purple {
    background-color: #8722ae;
    color: white;
}


/*-----------------------------------------new-css--------------------------------------------*/

.navbar {
    box-shadow: 0 0 46px rgba(53, 79, 156, 0.4);
    background-color: #9247c3 !important;
    border: none;
    border-radius: 0;
    padding: 20px;
    height: auto !important;
}

.navbar-brand {
    width: 140px;
    height: 50px;
    background:url(../img/logo.png) center center no-repeat;
    background-size: contain
}

.nav-item {
    margin-right: 15px;
}

.nav-item .btn {
    border-radius: 5px !important;
    border: 3px solid #ffffff;
    color: #ffffff;
}


.nav-item .btn:hover,
.nav-item .btn:focus,
.nav-item .btn:active {
    border: 3px solid #4cddee !important;
    background-color: transparent !important;
    color: #4cddee !important;
    box-shadow: none !important;
}

.show .btn {
    border: 3px solid #4cddee !important;
    background-color: transparent !important;
    color: #4cddee !important;
    box-shadow: none !important;
}

.dropdown-menu {
    box-shadow: 0 0 7px rgba(53, 79, 156, 0.19);
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #4cddee !important;
    color: #4cddee;
}


.dropdown-item {
    color: #4cddee;
    transition: all .6s;
}
.dropdown-items {
    color: #4cddee;
    transition: all .6s;
}
.dropdown-items {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropleft{
    float: left;
    color: #000;
    padding: 10px 40px;
}

.auto_left{
    float: left;
    width: 100%;
}

.auto_right{
     float: right;
}


.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #9247c3
}

.form-inline button {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 3px solid #ffffff;
    background-color: transparent;
    padding: 0;
    margin-right: 10px;
}


.btn-outline-success:hover,
.dropdown-menu:hover,
.dropdown-menu:active,
.dropdown-menu:focus,
.btn-outline-danger:focus,
.btn-outline-danger:hover,
.btn-outline-info:hover {
    background: #fff !important;
    box-shadow: 0 0 7px rgba(53, 79, 156, 0.19) !important;
}

/*----------------------------------------------------*/
.left_hero_0 {
    background:url(../img/left.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain
}

.right_hero_0 {
    background:url(../img/right.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain
}


/*----------------------------------------------------*/
.bead-active-red {
    background: url(../img/accent.png) center top / 100% 100% no-repeat;
    cursor: pointer;
}

.bead-inactive-default {
    background: url(../img/base.png) center top / 100% 100% no-repeat;
    cursor: pointer;
}

.bead-line-default {
    background: url(../img/block.png) center top /  100% no-repeat;
    padding-top: 0.7%;
}

.bead-empty-default {
    background: url(../img/block-center.png) center top / contain no-repeat;
}

/*--------------------------------------------------------*/
.btn_start {
    background-color: #923dbf !important;
    border-radius: 4px;
    border: none;
    position: relative;
    padding: 0;
}

.btn_start span{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0;
}

.btn_start .fa{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 45px;
}

.answer_input {
    border: 3px dashed #923dbf;
    margin-right: -5px;
    border-radius: 0;
}

.answer_input:hover,
.answer_input:focus {
    border: 3px dashed #923dbf;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.wrapp{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    background: #fff;
    padding: 5px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0, .22);
    box-shadow: 0 0 5px 0 rgba(0,0,0, .22);
}

/*------------------------modal--------------------------------*/



.modal-content {
    border: none;
    border-radius: 5px;
}

.show .btn {
    border-radius: 5px !important;
    border: 3px solid #41becd !important;
    background: #41becd !important;
    color: #fff !important;
}

.show .btn_check_all_digits {
    background: #f43ddb !important;
    margin-left: 20px !important;
    margin-bottom: 0;
}

.show label {
    margin-bottom: 0;
}

.show .focus {
    background: #fff !important;
    border-radius: 4px;
    border-color: #f0f0f0 !important;
    color: #41becd !important;
}

.btn-nrm-2 {
    background: #fff !important;
}

.pr-0, .px-0 {
    padding-right: 8px !important;
}

.modal-header {
    border-bottom: 0 !important;
}

.modal-footer {
    border-top: 0 !important;
}

.modal-title img {
    margin-right: 20px;
}

.inc-dec-control {
    border-radius: 5px;
    padding: 3px;
}

/*.inc-dec-control .btn {
    background: #fff !important;
    border: none !important;
    color: #f7f7f7 !important;
}*/

.bg-light-success,
.bg-light-info,
.bg-light-danger {
    background: #41becd;
    border-radius: 2px;
    border: 1px solid #41becd !important;
    min-width: 73px;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.border-success:hover,
.border-success:focus {
    border: 2px solid #ebebeb;
}


/*--------------------------pulse------------------------------------*/
.btn-success  {
    background: #41becd;
    border-color: #41becd;
    color: #fff;
}

.btn-success:hover  {
    background: #923dbf;
    border-color: #923dbf;
    cursor: pointer;
}

.btn_partial_answer_input_status {
    background: #923dbf;
    border-color: #923dbf;
}

.partial_answer_input {
    border: 2px solid #ebebeb;
}

.partial_answer_input:hover,
.partial_answer_input:focus {
    border: 2px solid #923dbf;
}


/*.btn-danger{
    background: #dc3545 !important;
    border-color: #dc3545 !important;
}*/

/*.btn-success {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}*/

#btn_global_stop {
    color: #fff;
}


.bg_color_1,
.bg_color_2,
.bg_color_3,
.bg_color_4,
.bg_color_5,
.bg_color_6,
.bg_color_7,
.bg_color_8, {
    height: 100% !important;
    padding-top: 3% !important;
}

.screen {
    border: none !important;
    height: auto !important;
}

#main_screen {
    min-height: 100%;
}

.header__mail {
    color: #fff;
    letter-spacing: 1px;
    font-size: 18px;
    text-decoration: none;
}

.header__mail:hover,
.header__mail:focus {
    color: #fff;
}


/*-------------------------------------------------------------------------------*/

.bg_color {
    background-color: transparent;
    border-radius: 0;
    box-shadow: 0 0 1px 0 rgba(0,0,0, .35)
}

.border-warning {
    background-image: url(../img/bg.png) !important;
    border: none !important;
}

.modal-body,
.dropdown-menu {
    background-image: none !important;
}

.right_hero_3,
.left_hero_4 {
    background-position: bottom center !important;
}


.new__form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.new__btn {
    width: 32% !important;
    min-width: 155px !important;
    border: 3px solid #4cddee !important;
    background: #fff !important;
    color: #4cddee !important;
    font-size: 18px;
    transition: all .6s;
    min-width: 130px;
    margin-right: 0 !important;
    margin-bottom: 10px !important;
}


.new__form button:hover,
.new__form button:active,
.new__form button:focus {
    border-radius: 5px;
    border: 3px solid #ffffff !important;
    background: #4cddee !important;
    border: 3px solid #4cddee !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff !important;
}

.btn-danger:not(:disabled):not(.disabled):active:focus, 
.btn-danger:not(:disabled):not(.disabled).active:focus, 
.show>.btn-danger.dropdown-toggle:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}


.new__group {
    width: 32%;
    min-width: 155px;
}

.new__group .new__btn {
    width: 100% !important;
}

.nav-pause .inc-dec-control {
    padding: 0;
}

.nav-pause .btn-danger {
    margin-bottom: 0 !important;
    border: none !important;
    background-color: transparent !important;
    color: #fff !important;
}

.nav-pause .btn--arrow {
    color: #41becd !important;
}

.nav-pause .btn-danger:hover,
.nav-pause .btn-danger:focus {
    border: none !important;
    background-color: transparent !important;
}

.dropdown-menu {
    min-width: 11rem;
}

.p-2 {
    padding: 0 !important;
}

.menu__btn{
    background-color: transparent !important;
    height: 52px !important;
    width: 52px !important;
    min-width: 42px !important;
    border-color: #fff !important;

}
.menu__btn:hover,
.menu__btn:focus,
.menu__btn:active{
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0, 0);
    box-shadow: 0 0 0 0 rgba(0,0,0, 0);
}


.menu__btn{
    background-color: transparent !important;
    height: 42px !important;
}


.modal-body {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}


.btn--label {
    display: block;
}
.btn--label:before {
    content: attr(data-text);
    position: absolute;
    top: 100%;
    left: 0;
    padding: 15px;
    color: #000;
    background: #fff;
    z-index: 1;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0, .3);
    box-shadow: 0 0 10px 0 rgba(0,0,0, .3);
    border-radius: 5px;
    opacity: 0;
    transition: all .6s;
    white-space: pre;
}


.btn--label:hover:before {
    opacity: 1;
}


.show .btn--close {
    border-radius: 50% !important;
    background: #e6e6e6 !important;
    border: none !important;
    width: 35px !important;
    height: 35px !important;
    min-height: 35px !important;
}

.show .btn--close span {
    font-size: 20px;
    line-height: 1 !important;
}

.btn-outline-info:not(:disabled):not(.disabled).active {
    margin-right: 3px !important;
}

.btn-group > .btn {
    margin-right: 3px !important;
}

.btn-outline-secondary {
    margin-right: 3px !important;
}

.modal-footer {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;

}


.modal-footer .btn {
    background: #f43ddb !important;
    border-color: #f43ddb !important;
    font-size: 21px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.btn-group .btn+.btn, 
.btn-group .btn+.btn-group, 
.btn-group .btn-group+.btn, 
.btn-group .btn-group+.btn-group, 
.btn-group-vertical .btn+.btn, 
.btn-group-vertical .btn+.btn-group, 
.btn-group-vertical .btn-group+.btn, 
.btn-group-vertical .btn-group+.btn-group {
    margin-left: 0 !important;
}


.nav {
    position: fixed;
    display: block;
    width: 320px;
    height: 100%;
    flex-direction: column;
    right: -100%;
    top: 0;
    z-index: -1;
    background-color: #9247c3;
    transition: all .3s;
    z-index: 100;
    overflow: auto;
}

.nav--active {
    right: 0;
}

.nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 80px 40px;
}

.nav li{
    margin: 0;
    margin-bottom: 15px;
}

.hamburger {
    display: none;
}

.nav-pause .dropdown-menu {
    position: absolute;
    left: auto;
    right: 0;
}

.nav .dropdown-menu {
    position: relative;
    left: auto;
    right: 5px;
}


.right_hero,
.left_hero {
    background-position: center bottom !important;
    margin-top: 15px;
}


.nav-pause .input_increase{
    border-color: #41becd !important;
    color: #41becd !important; 
}

.nav-pause .input_decrease{
    border-color: #41becd !important;
    color: #41becd !important; 
}


.btn_group_main .btn::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    border: 4px dashed #fff;
    border-radius: 5px; 
}


.btn_group_main .btn img {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: 40px;
}


.btn_group_main .btn i {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: 40px;
}

.btn_group_main .btn_show_settings {
   background-color: #9247c3 !important;
}


.btn_group_main .btn_show_settings:focus {
   color: #fff !important;
}

.btn_group_main .btn_stop {
   background-color: #9247c3 !important;
}

.btn_group_main .btn_restart {
   background-color: #f43ddb !important;
}


.btn_pause {
    background-color: #9247c3 !important;
    border: none !important;
    height: 7vh !important;
    line-height: 7vh !important;
    padding: 0 50px !important;
    border-radius: 5px !important;
    font-size: 3.5vh;
    color: #fff;
}

.main_block .w-100 {
    color: #4cddee !important;
}



.calculation__title {
    font-size: 36px;
    margin-bottom: 15px;
    color: #9247c3;
    line-height: 1;
    width: 100%;
}

.calculation__input {
    border: 3px dashed #923dbf !important;
    width: 100%;
    height: 100% !important;
}


.calculation__wrap-input {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0, .3);
    box-shadow: 0 0 10px 0 rgba(0,0,0, .3);
    padding: 5px;
    height: 75px !important;
    width: 100%;
    margin-bottom: 35px;
}

.calculation__wrap-btn {
    width: 100% !important; 
    margin-bottom: 35px;
}

.btn-keyboard {
    background-color: #41becd !important;
    border-radius: 5px;
    line-height: 1;
    border-color: #41becd !important;
    margin-bottom: 5px;
    padding: 0 !important;
}


.btn-secondary:focus, .btn-secondary.focus {
    -webkit-box-shadow: 0 0 0 0 rgba(85, 85, 85, 0.5);
    box-shadow: 0 0 0 0 rgba(85, 85, 85, 0.5);
}

.btn--opasity {
    opacity: 0;
}

.btn--calculation {
    background-color: #d7d7d7 !important;
     border-color: #d7d7d7 !important;
}

.btn--calculation i {
    font-size: 26px !important;
}

.screen-error {
    background-color: transparent !important;
}

.false_answer_image{
    height: auto !important;
}

.modal--page2 {
    margin-top: 0 !important;
    padding: 15px 0 !important;
}

.modal--page2 label, h4{
    text-align: left;
    font-size: 16px;
}

.btn--repdigit .active {
    background: #fff !important;
    color: #41becd !important;
}

.btn--repdigit button:hover {
    background: #fff !important;
    color: #41becd !important;
}

.bg-light-secondary {
    background-color: #fff;
    color: #41becd;
    border: none;
    border-radius: 0;
}

.bg-light-secondary:placeholder {
    color: #41becd;
}

textarea, textarea.form-control {
    font-family: 'Montserrat', sans-serif !important;
    border: none;
    border-radius: 0 !important;
    background-color: transparent !important;
}   

 
.nav-pause .btn,
.nav-pause .inc-dec-control {
    border: 3px solid #fff !important;
    color: #fff !important;
}

.btn-outline-warning.active:hover {
    background-color: #f07800 !important;
}

.btn {
    transition: all .0 !important;
}



.navbars {
    background-color: #a745c8 !important;
    border: none;
    border-radius: 0;
    padding: 12px;
    padding-bottom: 0px;
    height: auto !important;
}

.modal-button-top{
    max-width: 669px;
    margin: 0.75rem auto;
    margin-bottom: 0;
    margin-top: 0;
}



.btn-info {
    background: #2bc3dc;
    border-color: #2bc3dc;
    height: 7vh;
    border-right: 5px;
}
.btn-info:hover,
.btn-info:focus {
    background: #17a2b8;
    border-color: #17a2b8;
}


.btn-purple {
    background-color: #f43ddb;
    height: 7vh;
    border-right: 5px;
}
.btn-purple:hover,
.btn-purple:focus, {
    background-color: #e83e8c;
}

.btn-keyboard-group-lg > .btn-keyboard {
    font-size: 5vh;
}

.btn {
    min-height: 40px;
    max-height: 75px;
}


.fonted {
    font-size: 8vh !important;
}

.padding-top-bottom-1vh .btn_group_main .btn img,
.padding-top-bottom-1vh .btn_group_main .btn img,
.btn_show_example img {
    display: none;
}


.modal-body .btn{
    background: #fff !important;
    border-color: #fff !important;
    color: #41becd !important;
}
.modal-body .inc-dec-control {
    border: 1px solid #e6e6e6; 
}


.modal-body .bg-light-success,
.modal-body .bg-light-danger {
    background: #2bc3dc;
    color: #fff;
}

.modal-body .modal__button {
    background-color: #f43ddb !important;
    border-radius: 5px !important;
    color: #fff !important;
}

.modal-body .select__border {
    border-radius: 5px !important;
    border: 2px solid #2bc3dc !important; 
}
.modal-body .select__btn {
    border-radius: 5px !important;
    background: #f43ddb !important;
    border: 2px solid #f43ddb !important;
    color: #2bc3dc !important;
    transition: all .6s;
}
/*.modal-body .select__btn:hover,
.modal-body .select__btn:focus {
    background: #e83e8c !important;
    border: 2px solid #e83e8c !important;
}*/


.modal-body .bg-info {
    color: #fff;
    background-color: #2bc3dc !important;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background: #f43ddb !important;
}

.modal-body .btn-outline-info {
    background: #fff !important;
    border-color: #2bc3dc !important;
}
.modal-body .active {
    background: #41becd !important;
    border-color: #41becd !important;
    color: #fff !important;
}
/*.modal-body .focus {
    background: #2bc3dc !important;
    border-color: #2bc3dc !important;
}*/


.btn_group_main .btn i {
    display: none;
}


.btn_group_main .btn {
    position: relative;
    background-color: #2bc3dc !important;
    border-radius: 8px !important; 
    font-size: 3vh;
    height: 8vh;
    line-height: 8vh;
    padding: 0 !important;
    border: none !important;
    color: #fff;
    min-width: 120px !important;
}

.fonted {
    height: 30vh !important;
}

.answer_input {
    height: 10vh !important;
    font-size: 20px;
}

.answer_comment_text {
    font-size: 1vw !important;
    line-height: 1.1;
}

.btn_group_main {
    padding: 0 !important; 
    min-width: 190px;
}




.modal__line {
    display: flex;
    justify-content: center;
}
.modal__line span{
    width: 50%;
}
.modal__line .click--button {
    width: auto;
    border-radius: 5px;
    background-color: #17a2b8 !important;
    color: #fff;
}
.modal__line p {
    color: #000;
    font-size: 16px;
}

.modal-body .modal__label {
    color: #000 !important;
    font-size: 16px !important;
    font-weight: 700;
}


.modal__line .click--button--active {
    background-color: #f43ddb !important;
}

.calculation__wrap-input input {
    font-size: 24px !important;
}

.btn {
    cursor: pointer;
    border-radius: 4px;
    margin: 3px;
}

.btn i {
    display: none !important;
}
.btn img {
    display: none !important;
}

.color {
    color: #f43ddb !important;
}

.btn-outline-info.active:hover {
    background-color: #41becd !important;
}

.wigth--five {
    width: 45%;
}

.wigth--flex {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.modal-header {
    padding-bottom: 0;
}

.modal-body {
    padding-top: 0;
}

.btn--opacity {
    opacity: 0;
}

.card-body {
    padding-top: 0;
}
/*-------------------------------media-------------------------------------------*/
@media only screen and (max-width : 1200px) {
    .nav-item .btn {
        font-size: 12px;

    }
    .dropleft {
        padding: 10px 20px;
    }

    .nav-pause .input_increase{
        font-size: 16px !important;
    }

    .nav-pause .input_decrease{
        font-size: 16px !important;
    }
    .dropdown-items {
        font-size: 10px;
    }

    .btn_group_main .btn img {
        left: 15px;
    }

}
@media only screen and (max-width : 992px) {
    .btn_group_main .btn img {
        display: none;
    }
    .btn_group_main .btn i {
        display: none;
    }

    .card-body {
        padding-top: 5% !important;
        padding-bottom: 4% !important;
        height: 100% !important;
    }
    .hamburger {
        display: block;
        border: 2px solid #fff;
        border-radius: 5px;
        background-color: transparent;
        height: 42px;
        width: 42px;
        z-index: 1000;
    }

    .card-body {
        padding-top: 5% !important;
    }


    .btn-outline-secondary {
        border-radius: 5px;
        border-color: #41becd;
    }

    .input-group {
        width: 80% !important;
    }

    .navbar {
        padding: 5px 15px;
    }

    .navbar-toggler-close {
        display: none !important;
    }

    .navbar-toggler  {
        border-radius: 5px;
        border-color: #41becd !important;
        width: 45px;
        height: 45px;
        position: relative;
    }

    .navbar-toggler-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background: #41becd;
        width: 25px;
        height: 2px;
    }


    .navbar-toggler-icon:before,
    .navbar-toggler-icon:after {
        content: '';
        position: absolute;
        background: #41becd;
        width: 25px;
        height: 2px;
        left: 0;
    }

    .navbar-toggler-icon:after {
        bottom: -7px;
    }

    .navbar-toggler-icon:before {
        top: -7px;
    }

    .btn_checked_digits {
        border-radius: 3px;
        border: 2px solid #41becd !important;
        margin-right: 2px;
    }

    .btn-group-toggle .active {
        background: #41becd !important;
        border: 2px solid #41becd !important; 
    }

    .btn-group-toggle .focus {
        background: #41becd !important;
        border: 2px solid #41becd !important;
        box-shadow: none; 
    }
    .inc-dec-control .btn {
        margin-bottom: 0;
    }


    .show .active {
        background: #41becd !important;
        color: #fff !important;
    }

    .show .focus {
        background: #41becd !important;
        color: #fff !important;
    }

    .form-control {
        font-size: 22px !important;
    }
}

@media only screen and (max-width : 767px) {
    .right_hero {
        display: none;
    }
}

@media only screen and (max-width : 480px) {
    .left_hero {
        display: none;
    }

    .card-body {
        width: 100%;
        margin: 0 auto;
    }

    .modal-body .card-body {
        padding: 0 0 15px 0;
    }

    .show .btn_check_all_digits {
        margin-left: 0px !important;
    }
    .btn-keyboard-group-lg {
        padding: 0 !important;
        margin: 0 15px;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        margin: 10px auto;
    }
}
